SynapseIntegration-idweus2euapworkspace/pipeline/L0_final_Employee_Customer.json
{
	"name": "L0_final_Employee_Customer",
	"properties": {
		"activities": [
			{
				"name": "ReadWatermark_Employee",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 60
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://management.azure.com/subscriptions/030efb7e-a7b1-41da-99e8-aa25e7d3c800/resourceGroups/sancha-rg/providers/Microsoft.IndustryDataLifecycle/pipelineSets/f15a6d2e-a05e-4d1d-9145-f0d3e29d2108/watermarks/f15a6d2e-a05e-4d1d-9145-f0d3e29d2108_Employee/compute?api-version=2020-01-12-preview",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\r\n  \"PipelineName\": \"@{pipeline().Pipeline}\",\r\n  \"EntityName\": \"Employee\",\r\n  \"PipelineRunId\": \"@{pipeline().RunId}\"\r\n}",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			},
			{
				"name": "TargetModel_EmployeeTransform",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ReadWatermark_Employee",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 60
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "TargetModel_Employee_DataFlow",
						"type": "DataFlowReference",
						"parameters": {
							"modifiedAfter": {
								"value": "toTimestamp(\"@{activity('ReadWatermark_Employee').output.properties.watermarkValue}\", \"yyyy-MM-dd HH:mm:ss.SSS\")",
								"type": "Expression"
							},
							"modifiedBefore": {
								"value": "toTimestamp(\"@{activity('ReadWatermark_Employee').output.properties.intendedWatermarkValue}\", \"yyyy-MM-dd HH:mm:ss.SSS\")",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "UpdateWatermark_Employee",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "TargetModel_EmployeeTransform",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 60
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://management.azure.com/subscriptions/030efb7e-a7b1-41da-99e8-aa25e7d3c800/resourceGroups/sancha-rg/providers/Microsoft.IndustryDataLifecycle/pipelineSets/f15a6d2e-a05e-4d1d-9145-f0d3e29d2108/watermarks/f15a6d2e-a05e-4d1d-9145-f0d3e29d2108_Employee/sync?api-version=2020-01-12-preview",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\r\n  \"PipelineName\": \"@{pipeline().Pipeline}\",\r\n  \"EntityName\": \"Employee\",\r\n  \"PipelineRunId\": \"@{pipeline().RunId}\"\r\n}",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			},
			{
				"name": "ReadWatermark_Customer",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 60
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://management.azure.com/subscriptions/030efb7e-a7b1-41da-99e8-aa25e7d3c800/resourceGroups/sancha-rg/providers/Microsoft.IndustryDataLifecycle/pipelineSets/f15a6d2e-a05e-4d1d-9145-f0d3e29d2108/watermarks/f15a6d2e-a05e-4d1d-9145-f0d3e29d2108_Customer/compute?api-version=2020-01-12-preview",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\r\n  \"PipelineName\": \"@{pipeline().Pipeline}\",\r\n  \"EntityName\": \"Customer\",\r\n  \"PipelineRunId\": \"@{pipeline().RunId}\"\r\n}",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			},
			{
				"name": "TargetModel_CustomerTransform",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ReadWatermark_Customer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 60
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "TargetModel_Customer_DataFlow",
						"type": "DataFlowReference",
						"parameters": {
							"modifiedAfter": {
								"value": "toTimestamp(\"@{activity('ReadWatermark_Customer').output.properties.watermarkValue}\", \"yyyy-MM-dd HH:mm:ss.SSS\")",
								"type": "Expression"
							},
							"modifiedBefore": {
								"value": "toTimestamp(\"@{activity('ReadWatermark_Customer').output.properties.intendedWatermarkValue}\", \"yyyy-MM-dd HH:mm:ss.SSS\")",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "UpdateWatermark_Customer",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "TargetModel_CustomerTransform",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 60
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://management.azure.com/subscriptions/030efb7e-a7b1-41da-99e8-aa25e7d3c800/resourceGroups/sancha-rg/providers/Microsoft.IndustryDataLifecycle/pipelineSets/f15a6d2e-a05e-4d1d-9145-f0d3e29d2108/watermarks/f15a6d2e-a05e-4d1d-9145-f0d3e29d2108_Customer/sync?api-version=2020-01-12-preview",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\r\n  \"PipelineName\": \"@{pipeline().Pipeline}\",\r\n  \"EntityName\": \"Customer\",\r\n  \"PipelineRunId\": \"@{pipeline().RunId}\"\r\n}",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			}
		],
		"folder": {
			"name": "T1Automation"
		},
		"annotations": [],
		"lastPublishTime": "2020-12-13T20:07:09Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}