SynapseIntegration-idweus2euapworkspace/pipeline/L2_StdM2_TransactionLineItem.json
{
	"name": "L2_StdM2_TransactionLineItem",
	"properties": {
		"activities": [
			{
				"name": "ReadWatermark_TransactionLineItem",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 60
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://management.azure.com/subscriptions/030efb7e-a7b1-41da-99e8-aa25e7d3c800/resourceGroups/sancha-rg/providers/Microsoft.IndustryDataLifecycle/pipelineSets/855b8b2c-cc75-4ead-aae2-22070ab0a0d9/watermarks/855b8b2c-cc75-4ead-aae2-22070ab0a0d9_TransactionLineItem/compute?api-version=2020-01-12-preview",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"content-Type": "application/json"
					},
					"body": {
						"value": "{\r\n  \"PipelineName\": \"@{pipeline().Pipeline}\",\r\n  \"EntityName\": \"TransactionLineItem\",\r\n  \"PipelineRunId\": \"@{pipeline().RunId}\"\r\n}",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			},
			{
				"name": "StdM2_TransactionLineItemTransform",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ReadWatermark_TransactionLineItem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 60
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "StdM2_TransactionLineItem_DataFlow",
						"type": "DataFlowReference",
						"parameters": {
							"modifiedAfter": {
								"value": "toTimestamp(\"@{activity('ReadWatermark_TransactionLineItem').output.properties.watermarkValue}\", \"yyyy-MM-dd HH:mm:ss.SSS\")",
								"type": "Expression"
							},
							"modifiedBefore": {
								"value": "toTimestamp(\"@{activity('ReadWatermark_TransactionLineItem').output.properties.intendedWatermarkValue}\", \"yyyy-MM-dd HH:mm:ss.SSS\")",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "UpdateWatermark_TransactionLineItem",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "StdM2_TransactionLineItemTransform",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 60
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://management.azure.com/subscriptions/030efb7e-a7b1-41da-99e8-aa25e7d3c800/resourceGroups/sancha-rg/providers/Microsoft.IndustryDataLifecycle/pipelineSets/855b8b2c-cc75-4ead-aae2-22070ab0a0d9/watermarks/855b8b2c-cc75-4ead-aae2-22070ab0a0d9_TransactionLineItem/sync?api-version=2020-01-12-preview",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"content-Type": "application/json"
					},
					"body": {
						"value": "{\r\n  \"PipelineName\": \"@{pipeline().Pipeline}\",\r\n  \"EntityName\": \"TransactionLineItem\",\r\n  \"PipelineRunId\": \"@{pipeline().RunId}\"\r\n}",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			}
		],
		"folder": {
			"name": "StdM2"
		},
		"annotations": [],
		"lastPublishTime": "2021-03-02T13:32:18Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}